
services:
  airflow-webserver:
    build: .
    command: webserver
    ports:
      - "8080:8080"
    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
      - AIRFLOW__CORE__LOAD_EXAMPLES=false
      - AIRFLOW_UID=50000
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_USER=miloudybouchra01@gmail.com
      - SMTP_PASSWORD=zdqp fykw lhqi pvbe
      - PYTHONPATH=/opt/airflow
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./functions:/opt/airflow/functions
      - ./airflow_tmp:/opt/airflow/airflow_tmp
      - ./data:/opt/airflow/data
      - ./logs:/opt/airflow/logs
      - ./models:/opt/airflow/models
      - ./airflow.db:/opt/airflow/airflow.db
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 5
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:
    build: .
    command: scheduler
    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
      - AIRFLOW__CORE__LOAD_EXAMPLES=false
      - AIRFLOW_UID=50000
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_USER=miloudybouchra01@gmail.com
      - SMTP_PASSWORD=zdqp fykw lhqi pvbe
      - PYTHONPATH=/opt/airflow
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./functions:/opt/airflow/functions
      - ./airflow_tmp:/opt/airflow/airflow_tmp
      - ./data:/opt/airflow/data
      - ./logs:/opt/airflow/logs
      - ./models:/opt/airflow/models
      - ./airflow.db:/opt/airflow/airflow.db
    depends_on:
      airflow-init:
        condition: service_completed_successfully

  airflow-init:
    build: .
    environment:
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__CORE__LOAD_EXAMPLES=false
      - AIRFLOW_UID=50000
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./functions:/opt/airflow/functions
      - ./airflow_tmp:/opt/airflow/airflow_tmp
      - ./data:/opt/airflow/data
      - ./logs:/opt/airflow/logs
      - ./models:/opt/airflow/models
      - ./airflow.db:/opt/airflow/airflow.db
    entrypoint: /bin/bash
    command:
      - -c
      - |
        # Create DB file if it doesn't exist to avoid permission issues
        touch /opt/airflow/airflow.db
        
        airflow db init
        airflow users create --username airflow --password airflow --firstname Airflow --lastname Admin --role Admin --email admin@example.com
